@{
    ViewData["Company"] = "Education";
}
<h1>@ViewData["Company"]</h1>
<br />


<div class="container px-4">

    @*Program Training*@
    <div class="row justify-content-start gx-5">
        <div class="align-self-start">
            <h2 class="display-5">Program Training</h2>
        </div>
    </div>
    <br />

    <div class="row justify-content-start gx-5">
        <div class="align-self-start">
            <ul class="list-unstyled">

                @foreach (var entry in @Model.myEducation)
                {
                    @if (String.IsNullOrEmpty(entry.School))
                    {
                        <li><strong>@entry.Program</strong>@entry.Detail</li>
                        <li><small>@entry.ProgramYear</small></li>
                        <br />

                    }
                }
            </ul>
        </div>
    </div>

    @*College*@
    <div class="row justify-content-start gx-5">
        <div class="align-self-start">
            <h2 class="display-5">College</h2>
        </div>
    </div>

    <div class="row justify-content-start gx-5">
        <div class="align-self-start">
            <ul class="list-unstyled">

                @foreach (var entry in @Model.myEducation)
                {
                    <li><strong>@entry.School</strong>@entry.Degree</li>
                    <li><small>@entry.Year</small></li>
                    <br />
                }
            </ul>
        </div>
    </div>

</div>




<div class="container">
    <div class="row">
        <div class="col">
            <div class="container px-4">
                <div class="row justify-content-start gx-5">
                    <div class="align-self-start">
                        <h2 class="display-5"><strong>Contact Information</strong></h2>
                        <br />
                        <p class="text-primary">210.705.9596<br />ialexgarza4@gmail.com</p>
                        <p>Chicago, Illinios</p>
                    </div>
                </div>
            </div>
            <br />
            <br />
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>
</div>
<br />
<br />
